.home {
	margin-top: 100px;
	margin-left: 2%;
	margin-right: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.home .loader {
	align-self: center;
	width: 100%;
	text-align: center;
}
.home .error {
	width: 100%;
	align-self: center;
	color: #f42b4b;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.home > .card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	height: 400px;
	width: 30%;
	position: relative;
	margin-bottom: 2%;
}
/* On mouse-over, add a deeper shadow */
.home .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.home .card > img {
	width: 100%;
	height: 100%;
}
.home .content {
	bottom: 0;
	z-index: 9;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	height: 35%;
	padding-bottom: 5px;
	transition: 0.5s;
}
.home .content:hover {
	background-color: rgba(255, 255, 255, 1);
	height: 50%;
	cursor: pointer;
}
.content > h2 {
	text-align: center;
	font-size: 2rem;
}
@media screen and (max-width: 780px) {
	.home {
		justify-content: space-around;
	}
	.home .card {
		width: 45%;
	}
}
@media screen and (max-width: 500px) {
	.home .card {
		width: 90%;
	}
}
@media screen and (min-width: 1400px) {
	.home {
		margin: auto;
		width: 1400px;
	}
	.toggle-button {
		margin-bottom: 10px;
	}
}
